<h2>About Icorium</h2>

<p>Icorium aggregates data from a huge number of sources to generate a comprehensive, neutral, and ad-free directory of ICOs.</p>

<p>Icorium is the knowledge base and market analytics platform for anyone wanting to research ICOs. Using advanced technology enriched with machine learning capability, we have created a platform that offers unique insight and value. </p>

<p>As well as the most complete ICO data warehouse, we have built a large number of analytical reports that provide deep insight into this fast-growing market. Our aim is to provide a complete overview of past, current and future ICOs. We provide as much detail and data as possible, to help investors undertake their own due diligence and make informed and reasoned decisions about investments in blockchain start-ups. </p>

<p><a href="www.chainium.io">chainium.io</a> is the company behind Icorium. While creating our own blockchain start-up, <i>The Investment Marketplace</i>, we undertook intense research in to the sector. During our research phase, we were faced with a number of ICO lists that were either incomplete, had an obvious commercial bias, or had poor data quality. We were not able to find a single, complete and, most importantly, neutral data source that presented a full picture of the ICO market. </p>

<p>We have created Icorium to give back to the wider community some of the analysis we undertook. We hope you find Icorium useful, and we welcome your feedback.</p>
