<h2>Contact</h2>

<form class="form-horizontal" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="form-group">
        <label for="first-name" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="first-name" name="first_name" [ngModel]="firstName">
        </div>
    </div>
    <div class="form-group">
        <label for="last-name" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="last-name" name="last_name" [ngModel]="lastName">
        </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email * </label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" name="email"
              [ngModel]="email"
              required
              #emailCtrl="ngModel"
              [email]="true">
        <span class="help-block" *ngIf="emailCtrl.invalid && emailCtrl.touched">Please enter valid email address!</span>
       </div>
    </div>
    <div class="form-group">
        <label for="request" class="col-sm-2 control-label">Request * </label>
        <div class="col-sm-10">
          <textarea class="form-control" id="request" name="request" cols="10" rows="5"
                    [ngModel]="request"
                    required
                    #requestCtrl="ngModel"></textarea>
          <span class="help-block" *ngIf="requestCtrl.invalid && requestCtrl.touched">Please enter request!</span>
        </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-white" [disabled]="form.invalid"><img src="./assets/image/mail.png" style="height:50px; width:auto; padding-right:5px;">Send email</button>
      </div>
    </div>
  </form>

  <div class="col-sm-offset-2 col-sm-10">
      <p class="request-sent">{{ requestSent }}</p>
  </div>
