<div class="col-xs-12">
  <div class="col-xs-12">
    <div class="col-xs-12 ico-name">
        <img *ngIf="icoDetails.Logo" src="http://images.icorium.io/thumbs/big/{{icoDetails.Logo}}" alt="" title="{{ icoDetails.CompanyName }}" />
        <span>{{ icoDetails.CompanyName }}</span>
    </div>
    <div class="col-xs-12 ico-one-liner">{{ icoDetails.OneLiner }}</div>
  </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <ng-template ngFor let-link [ngForOf]="icoDetails.SocialLinks">
      <div *ngIf="link.Type=='whitepaper'">
        <a href="{{link.Link}}" target="_blank" class="btn btn-white"><img src="./assets/image/whitepaper.png" style="height:50px; width:auto"> Download Whitepaper</a>
      </div>
    </ng-template>
  </div>
  <div class="col-xs-12  col-sm-6 col-md-6 text-right">
      <ng-template ngFor let-link [ngForOf]="icoDetails.SocialLinks">
      <div *ngIf="link.Type=='website'">
        <a href="{{link.Link}}" target="_blank" class="btn btn-white">Visit Website <img src="./assets/image/website.png" style="height:50px; width:auto" /></a>
      </div>
    </ng-template>
  </div>
</div>
<div>
    <div class="ico-nav">
      <a pageScroll href="#company">Company</a> |
      <a pageScroll href="#ico">Ico</a> |
      <a pageScroll href="#ratings">Ratings</a>
    </div>
</div>
<h4 id="company">Company</h4>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading">Name</div>
  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">{{ icoDetails.CompanyName ? icoDetails.CompanyName : 'no data available' }}</div>
  <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading even">Symbol</div>
  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 even">{{ icoDetails.IcoSymbol ? icoDetails.IcoSymbol : 'no data available' }}</div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading">Category</div>
  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">{{ icoDetails.Category ? icoDetails.Category : 'no data available' }}</div>
  <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading even">Underlying Blockchain</div>
  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 even">{{ icoDetails.UnderlayingTechno ? icoDetails.UnderlayingTechno : 'no data available' }}</div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading">Year of Origin</div>
  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">{{ icoDetails.YearofOrigin ? icoDetails.YearofOrigin : 'no data available' }}</div>
  <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading even">Country of Origin</div>
  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 even">{{ icoDetails.CountryofOrigin ? icoDetails.CountryofOrigin : 'no data available' }}</div>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading">Description</div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">{{ icoDetails.Description ? icoDetails.Description : 'no data available' }}</div>
    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading even">Technology</div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 even">{{ icoDetails.TechnoDetails ? icoDetails.TechnoDetails : 'no data available' }}</div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading">Social Profiles</div>
  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
    <ul class="social-profiles">
      <li *ngFor="let social of icoDetails.SocialLinks">
          <a href="{{social.Link}}" target="_blank"><img class="social-link" src="./assets/image/{{social.Type}}.png" alt="{{social.Type}}" /></a>
    </ul>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading even">Team</div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 member even">
    <div *ngIf="icoTeam">
      <div class="col-xs-6 member-name">NAME</div>
      <div class="col-xs-6">POSITION</div>
    </div>
    <ng-template ngFor let-member [ngForOf]="icoDetails.TeamMembers">
      <div>
        <div class="col-xs-6 member-name">{{member.Name}}</div>
        <div class="col-xs-6">{{member.Position}}</div>
      </div>
    </ng-template>
    <div *ngIf="!icoTeam">no data available</div>
  </div>
</div>

<div class="row">
    <div class="col-xs-12 articles heading">Latest Articles</div>
      <ul>
        <ng-template ngFor let-article [ngForOf]="icoDetails.SocialArticles">
          <li *ngIf="article.Type=='article'">
              <a href="{{article.Link}}" target="_blank">{{article.Title}}</a>
          </li>
        </ng-template>
      </ul>
    <div class="no-data" *ngIf="!icoArticle" >no data available</div>
</div>

<div class="row">
    <div class="col-xs-12 articles heading">Latest Tweets</div>
    <ul>
        <ng-template ngFor let-article [ngForOf]="icoDetails.SocialArticles">
          <li *ngIf="article.Type=='twitter'">
              <a href="{{article.Link}}" target="_blank">{{article.Title}}</a>
          </li>
        </ng-template>
    </ul>
    <div class="no-data" *ngIf="!icoTwitter" >no data available</div>
</div>

<div class="row">
    <div class="col-xs-12 articles heading">Latest Facebook Posts</div>
    <ul>
        <ng-template ngFor let-article [ngForOf]="icoDetails.SocialArticles">
          <li *ngIf="article.Type=='facebook'">
              <a href="{{article.Link}}" target="_blank">{{article.Title}}</a>
          </li>
        </ng-template>
    </ul>
    <div class="no-data" *ngIf="!icoFacebook" >no data available</div>
  </div>

<h4 id="ico">ICO</h4>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading">Start Time</div>
  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">{{ icoStart}}</div>
  <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading even">End Time</div>
  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 even">{{ icoEnd }}</div>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading">Ico Phase</div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">{{ icoPhase }}</div>
    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading even">Round</div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 even">{{ icoDetails.IcoPhase ? icoDetails.IcoPhase : 'no data available' }}</div>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading">Ico Scale</div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">{{ icoScale ? (icoScale | number : '1.0-0') + ' ' + icoScaleCurrency : 'no data available' }} </div>
    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading even">Total Expected</div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 even">{{ icoExpected ? (icoExpected | number : '1.0-0') + ' ' + icoExpectedCurrency : 'no data available'}}</div>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading">Ico Raised</div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">{{ icoRaised ? (icoRaised | number : '1.2-2') + ' ' + icoRaisedCurrency : 'no data available'}}</div>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading">Token Sales</div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">{{ icoDetails.TokenSales ? icoDetails.TokenSales : 'no data available' }}</div>
    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading even">Token Distribution</div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 even">{{ icoDetails.TokenDistribution ? icoDetails.TokenDistribution : 'no data available' }}</div>
</div>

<h4 id="ratings">Ratings</h4>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading">Analyst Report</div>
  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4"></div>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading">Risk Score</div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">{{ icoDetails.RiskScore ? icoDetails.RiskScore : 'no data available' }}</div>
    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading even">Hype Score</div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 even">{{ icoDetails.HypeScore ? icoDetails.HypeScore : 'no data available' }}</div>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading">Overall Rating</div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">{{ icoDetails.OverallRating ? icoDetails.OverallRating : 'no data available' }}</div>
    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 heading even">Invest Potential</div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 even">{{ icoDetails.InvestmentPotential ? icoDetails.InvestmentPotential : 'no data available' }}</div>
</div>
