<div class="ico-nav">
    <a pageScroll href="#upcoming">Upcoming</a> |
    <a pageScroll href="#current">Current</a> |
    <a pageScroll href="#past">Past</a>
</div>

<h4 id="upcoming">Upcoming ({{ upcomingIcosCounter }})</h4>
<app-ico-item [(icos)]="upcomingIcos" [type]="'upcoming'" *ngIf="upcomingIcosCounter"></app-ico-item>
<div class="text-center" *ngIf="upcomingIcosCounter"><button class="btn btn-white" (click)="onUpcomingIcoClick()"><img src="./assets/image/load-more.png" class="pull-left"/><span class="load-more">Load more</span></button></div>
<div class="text-center" *ngIf="!upcomingIcosCounter">At the moment there are no ICOs matching your search criteria under this view</div>

<h4 id="current">Current ({{ currentIcosCounter }})</h4>
<app-ico-item [(icos)]="currentIcos" [type]="'current'" *ngIf="currentIcosCounter"></app-ico-item>
<div class="text-center" *ngIf="currentIcosCounter"><button class="btn btn-white" (click)="onCurrentIcoClick()"><img src="./assets/image/load-more.png" class="pull-left"/><span class="load-more">Load more</span></button></div>
<div class="text-center" *ngIf="!currentIcosCounter">At the moment there are no ICOs matching your search criteria under this view</div>

<h4 id="past">Past ({{ pastIcosCounter }})</h4>
<app-ico-item [(icos)]="pastIcos" [type]="'past'" *ngIf="pastIcosCounter"></app-ico-item>
<div class="text-center" *ngIf="pastIcosCounter"><button class="btn btn-white" (click)="onPastIcoClick()"><img src="./assets/image/load-more.png" class="pull-left"/><span class="load-more">Load more</span></button></div>
<div class="text-center" *ngIf="!pastIcosCounter">At the moment there are no ICOs matching your search criteria under this view</div>
