.ico-nav a{
  text-transform: uppercase;
  font-size: 18px;
  font-weigh: 600;
}

.ico-nav a:hover{
  text-decoration: none;
  color: #B57E2C;
}

.ico-nav {
  text-transform: uppercase;
  font-size: 18px;
  font-weigh: 600;
}
.btn img{
  height: 50px;
  width: auto;
}
.load-more {
  float: right;
  padding-top:13px;
  font-weight: 400;
  text-transform: uppercase;
}
