.navbar img{
  padding-top: 10px;
  height: 40px;
  width: auto;
}
.navbar .btn-search img {
  padding: 0;
  height: 25px;
  width: auto;
}
.navbar-brand {
  padding: 0px 10px 0 0;
}
.navbar-nav > li > a {
  color: #FFF;
  font-weight: 600;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-search {
  padding: 3px 3px 4px 3px;
}
.navbar-nav > li > a:hover, .navbar-nav > li.active > a {
  color: #FFF;
  background-color: #2AA5D9;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar-nav > li {
  margin: 5px 5px;
}
.glyphicon-remove {
  left: 195px;
  top: 3px;
  cursor: pointer;
  color: #AAA;
}
@media (max-width: 767px) {
  #navbar {
    background-color: #104481;
    height: 185px;
    overflow: none;
  }
  .navbar-form .form-group {
    width:80%;
    display: inline-block;
  }

  .ng2-auto-complete-wrapper {
    position: none;
  }
}
