  <div class="container footer-links" [ngClass]="{ 'no-padding': hide}">
    <a pageScroll href="#pagetop"><img src="./assets/image/go-top.png" class="go-top" [ngClass]="{ 'no-padding': hide}" /></a>
    <div class="col-xs-12">
      <ul class="nav navbar-nav col-xs-12 col-sm-7 col-md-6 col-lg-6">
        <li role="presentation" routerLinkActive="active"><a routerLink="/ico-directory">Home</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/about">About</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
      </ul>
      <p class="col-xs-12 col-sm-5 col-md-6 col-lg-6 copyright">&copy; 2017 chainium.io. All rights reserved </p>
    </div>
  </div>
  <div class="disclaimer navbar-fixed-bottom" [hidden]="hide">
    <div class="container">
      <span class="glyphicon glyphicon-remove" aria-hidden="true" (click)="hide=true"></span>
      <p class="col-xs-12 align-center">Icorium aggregates information from third party sources, we have no control over this information. As such, the information contained in or provided from or through this website is provided with no implicit or explicit warranty of any kind. Icorium does not provide financial, investment, trading, legal, tax or any other advice. Read our full <a routerLink="/disclaimer">Disclaimer</a> here.</p>
    </div>
  </div>
